html {
    background-image: url(fundo.jpg);
}



.hm {
    background-color: black;
}

h1 {
    width: 88%;
    font-style: italic;
    font-family: Arial;
    color: white;
}

.ok {
    text-align: right;
}

p {
    width: 88%;
    text-align: justify;
    color: lightgreen;
    font-size: 1.2;
}